
<!-- <span (click)="handleClick()">click</span>
<span>{{todo.title}}</span> -->
<div class="container">
  <div class="row">
    <!-- <div class="col-lg-3 col-md-4 col-sm-6 mt-4" *ngFor="let user of filteredUsers">
      <span (click)="handeCreateChat(user.id)"> Create chat</span>
      <div class="panel panel-default userlist">
        <div class="panel-body text-center">
          <div class="userprofile">
            <div class="userpic">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="userpicimg">
            </div>
            <h3 class="username">{{ user.username }}</h3>
          </div>
        </div>
      </div>
    </div> -->
     {{numberTest}}
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 mt-4" *ngFor="let user of filteredUsers">
          <!-- <span (click)="handeCreateChat(user.id)"> Create chat</span> -->
          <div class="panel panel-default userlist">
            <mat-icon [matMenuTriggerFor]="menu">
              <mat-icon>list</mat-icon>
            </mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="handleInfoFriend(user.id)">Xem trang cá nhân</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
            <div class="panel-body text-center" (click)="handleInfoFriend(user.id)">
              <div class="userprofile">
                <div class="userpic">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="userpicimg">
                </div>
                <h3 class="username">{{ user.username }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p>Data from Component A: {{ receivedData }}</p>
<app-test></app-test>
<div>
  <h4>Component Con 1 </h4>
  <ng-content></ng-content>
</div>




