<!-- <h1>Value: {{ value }}</h1>
<button (click)="onIncrease()">Increase</button>
<h1>
 
</h1>


<ul>
  <li *ngFor="let item of data">
 <span>
  <img src={{item.fact}} alt="alt">
 </span>
  </li>
</ul> -->

<!-- <app-button></app-button> -->
<router-outlet></router-outlet>

<!-- <button (click)="onIncrease()">Increase</button> -->


<!-- <app-bs-tab-group>
  <app-tab-panel title="Tab 1">
    content tab 1
    <app-counter></app-counter>
  </app-tab-panel>
  <app-tab-panel title="Tab 2">
    content tab 2
    <app-counter></app-counter>
  </app-tab-panel>
  <app-tab-panel title="Tab 3">
    content tab 3
    <app-counter></app-counter>
  </app-tab-panel>
</app-bs-tab-group>
<app-counter></app-counter> -->